html {
  min-width: 980px;  /* sidan skalas inte under denna sidbredd */
  margin: 0;
  border 0;
}

body {
  background-color: white;
  font-family: Arial;
}


#header-logga {
  font-size: 25px;
  font-weight: bold;
  margin: 10px;
}

#header-logga > img {
  vertical-align: middle;
}

table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}

td {
  width: 25%;
  border-style: solid;
  border-width: 0.5px; 
  border-color: gray;
}

td a {
  font-size: 22px;
  text-decoration: none;
  color: black;
  display: block;
  text-align: center;
  padding: 15px;
}

#aktuell-sida a {
  color: limegreen;
  font-weight: bold;
}

article {
  width: 60%;
  margin: 0% 5% 0% 5%;
  float: left;
}

aside {
  width:20%;
  margin: 0% 5% 0% 5%;
  float: right;
}


#objektlista img {
  float: left;
  margin-right: 10px;
}

.listobjekt {
  overflow: auto;
  border-color: gray;
  border-style: solid;
  border-width: 0.75px;
  margin: 10px;
}

.objekttext {
 overflow: auto;

}

.listobjekt p {
  font-family: "Georgia";
}

h3 {
  margin: 10px;
}